name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_DEPLOY_SA }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Configure Docker to use gcloud as a credential helper
      run: |
        gcloud auth configure-docker ${{ secrets.GCP_LOCATION }}-docker.pkg.dev

    - name: Build and Push Docker image
      run: |
        IMAGE_URI="$GCP_LOCATION-docker.pkg.dev/$GCP_PROJECT_ID/mlflow-images/mlflow-server:latest"
        docker build -t "$IMAGE_URI" .
        docker push "$IMAGE_URI"

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy mlflow-server  \
          --image "$GCP_LOCATION-docker.pkg.dev/$GCP_PROJECT_ID/mlflow-images/mlflow-server:latest" \
          --platform managed \
          --region ${{ secrets.GCP_LOCATION }} \
          --port 8080 \
          --memory 512Mi \
          --cpu 1 \
          --max-instances 1 \
          --no-allow-unauthenticated \
          --set-env-vars BACKEND_STORE_URI=$BACKEND_STORE_URI \
          --set-env-vars ARTIFACT_ROOT=$ARTIFACT_ROOT \
          --add-cloudsql-instances $DB_CONN_NAME \
          --service-account $GCP_MLFLOW_SA_NAME