name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_DEPLOY_SA }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Configure Docker to use gcloud as a credential helper
      run: |
        gcloud auth configure-docker ${{ secrets.GCP_LOCATION }}-docker.pkg.dev

    - name: Build and Push Docker image
      run: |
        IMAGE_URI="${{ secrets.GCP_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mlflow-images/mlflow-server:latest"
        docker build -t "$IMAGE_URI" .
        docker push "$IMAGE_URI"

    - name: Deploy to Cloud Run
      run: |
        DB_CONN_NAME="${{ secrets.GCP_PROJECT_ID }}:${{ secrets.GCP_LOCATION}}:${{ secrets.GCP_DB }}" # Found on the existing GCP Cloud SQL MySQL databse
        BACKEND_STORE_URI="mysql://${{ secrets.GCP_DB_USER }}:${{ secrets.GCP_DB_TOKEN }}@/mlflow?unix_socket=/cloudsql/${{ secrets.GCP_DB }}" # User is created on the Cloud SQL page
        ARTIFACT_ROOT="gs://${{ secrets.GCP_BUCKET }}" # Container SA must have read/wrtie access to the bucket
        gcloud run deploy mlflow-server  \
          --image "${{ secrets.GCP_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mlflow-images/mlflow-server:latest" \
          --platform managed \
          --region ${{ secrets.GCP_LOCATION }} \
          --port 8080 \
          --memory 512Mi \
          --cpu 1 \
          --max-instances 1 \
          --no-allow-unauthenticated \
          --set-env-vars BACKEND_STORE_URI="$BACKEND_STORE_URI",ARTIFACT_ROOT="$ARTIFACT_ROOT" \
          --add-cloudsql-instances "$DB_CONN_NAME" \
          --service-account ${{ secrets.GCP_MLFLOW_SA_NAME }}